{{#partial "content"}}
    <!--Table-->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button class="btn blue-gradient"><h2>Rangers</h2></button>
                {{#if rangers}}
                <table id="indexTable" class="table table-striped w-auto">
                    <!--Table head-->
                    <thead class="aqua-gradient">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    {{#each rangers}}
                        <!--Table body-->
                        <tbody>
                        <tr class="table-info">
                            <th scope="row">{{id}}</th>
                            <td>{{name}}</td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    {{/each}}
                {{else}}
                    <p>There are no Rangers yet!</p>
                {{/if}}
            </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}